@font-face {
    font-family: TCCC-UnityText;
    src: url("https://www.coca-cola.com/onexp-theme/e45cfb41e124a09ceb97d4c9734af7d3318e3c876ed2a935c51baf1dd57254bb/resources/fonts/tccc-unitytext-regular.woff2");
}
@font-face {
    font-family: TCCC-UnityText-bold;
    src: url("https://www.coca-cola.com/onexp-theme/e45cfb41e124a09ceb97d4c9734af7d3318e3c876ed2a935c51baf1dd57254bb/resources/fonts/tccc-unitytext-bold.woff2");
}
