body{
    font-family: TCCC-UnityText;
    background-color: #eee !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    
    display: flex;
    align-items: center;
}
.carousel-item img{
    border-radius: 20px;
}
.carousel-caption{
    font-family: TCCC-UnityText-bold;
position: relative;

}
.carousel-caption p{
    font-family: TCCC-UnityText;


}
.carousel-caption button{
    background-color: white;
    padding: 3px 20px;
    border: 0;
    border-radius: 10px;
}
.carousel .carousel-indicators button {
  
width: 20px !important;
height: 20px !important;
border-radius: 100%;
background-color: black !important;
}
.carousel .carousel-indicators button.active {
    background-color: black !important;
    }
.footer-about{
    font-family: TCCC-UnityText-bold;
    font-size: 20px;
    color: #D5D5D5;
    text-decoration: none;
    cursor: pointer;
}
.footer-about:hover{
   
    color: #D5D5D5;
    
}
h2{
    font-family: TCCC-UnityText-bold;
}
h3{
    font-family: TCCC-UnityText-bold;
    font-size: 24px !important;
}
.card{
    border-radius: 15px !important;
}.card-img{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.card-text{
    font-family: TCCC-UnityText;
}
.card-body a{
color: black;
font-family: TCCC-UnityText-bold;
text-decoration: none;
}
.card-img{
    border-radius: 10px;
}
.exp-text{
    width: 400px;
     margin-left: 100px;
}
.exp-img{
width: 100%;
border-radius: 20px;
}
.exp-head{
    margin-top: 100px;
    padding-bottom: 50px;
}
.brand-img{
    
    border-radius: 10px;
    box-shadow: 0px 0px 0 20px white;
   width: 100%;

    
}
.map{
   
    text-decoration: none;
  
    color: white;
    

}

.view{
    font-family: TCCC-UnityText-bold;

    text-decoration: none;
  background-color: black;
    color: white;
}
.view:hover{
      
    text-decoration: none;
  
    color: white;
    cursor: pointer;
}
.map:hover{
      
    text-decoration: none;
  
    color: white;
    cursor: pointer;
}
.line{
   height: 1px;
   background-color: white;
}
.exp-button{

    text-decoration: none;
    padding: 6px 110px;
    border: 2px;
    border-style: solid;
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.about-column h2{
    font-size: 10px;
    color: #D5D5D5;
}
.footer-colum{
    text-decoration: none;
 padding-right: 0;
}
.para{
    font-family: TCCC-UnityText;
    font-size: 12px;
    color: white;
}
.hi{
    width: 100%;
}
.dropdown-menu{
    font-family: TCCC-UnityText;
    font-size: 12px !important;

}
.about-column ul{
    font-family: TCCC-UnityText-bold;
    list-style: none;
    padding: 0;
    font-size: 14px !important;
    color: white;

}
.collapse{
    font-family: TCCC-UnityText-bold;
    font-size: 14px;
}
.dropdown-menu{
    padding-top: 10px !important;
    border: 0 !important;
}
.coc-para{
    font-family: TCCC-UnityText;
   color: black;
   padding-top: 10px;
}
footer{
    background-color: black;
    padding-top: 10px;
  
}

@media (max-width:600px) {
  .card-2 p{
    font-size: 14px;
  }
  .exp-button{
    padding: 2px !important;
   
  }
    }
@media (max-width:1200px) {
   .carousel-caption{
    font-size: 10px;
   }
   .exp-heading{
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
   }
  .img-2{ 
    width: 100%;
    position: relative;
   top: -120px;
    z-index: -1;
  }
  .main{
    padding: 10px 10px 10px 0 !important;
  }
    
    .card-2{

        border-radius: 20px !important;
        z-index: 0;
    }
    .card-2 h2{
        font-size: 24px;
    }
    .coc-para{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px !important;
       }
   .brand{
    width: 100%;
    padding: 30px !important;
    padding-top: 40px !important;
   }
    .exp-button:hover{
        
        color: black;  
    } 
}
@media (min-width:1200px) {
    .exp-img{
        height: 466px;
        width: 549px;
         border-radius: 20px;
         
         padding-left: 0px;
     
         
     }
     .carousel-caption{
       
        position: absolute !important;
        bottom: 10.25rem !important;

     }
    .section-1{
        margin-top: 50px;
    }
        .main{
  
            margin-top: 200px;
        margin-left: 120px;
           display: flex;
        
            
        }
        .card-2{
            position: relative;
            top: -80px;
           margin-left: 500px;
            background-color: white;
            padding: 40px;
            justify-content: left;
            z-index: 2;
            border-radius: 20px;
            box-shadow: 10px 14px 24px rgba(0, 0, 0,0.2);
            
          
        }
        .img-2{
            border-radius: 15px;
             position: absolute;
              z-index: -1;
          }
        .card-2 p{
            font-size: 18px;
            line-height:30px;
            letter-spacing: 1px;
           
        
        }
    .navbar-nav{
        height: 100%;
    }
    .nav-item{
        height: 100%;
    }
    .nav-link{
        height: 100%;
        align-items: center;
       
    }
   .collapse{
    height: 100% !important;
    display: flex;
    align-items: center;
   }
    .nav-link{
        height: 100% !important;
    }
    .navbar{
        height: 100px;
    }
    .card-2{
        z-index: 3;
    }
    .img{
        z-index: 1;
    }
    
   .nav-cont{
    padding: 0 !important;
    height: 100% !important;
   }
   nav{
    padding: 0 !important;
   }
   .nav-link{
        
    border-bottom: 5px solid white !important;
}
  
    .nav-item:hover .nav-link{
        
        border-bottom: 5px solid black !important;
    }
    .dropdown:hover .dropdown-menu{
        display: block !important;
    }
    .view{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
   .coc-para{
    margin-right: 100px !important;
    margin-left: 100px;
   }
    .exp-button:hover{
        background-color: #c7c7c7;
        color: black;  
    } 
    .view-all{
        display: block !important;
    }
    .view-all a{
        padding: 10px 110px !important;
        
    }
    .brand-card{
     display: flex;
     padding: 10px 40px;
     justify-content: center;
     

        
    }
    .brand{
        margin-right: 60px !important;
        margin-bottom: 60px !important;
        width: fit-content !important;
    }
    .brand-img{
       transition: 0.5s;
        width: 200px;
        box-shadow: 0px 0px 0 20px white;
    }
    .brand-img:hover{
        box-shadow: 0px 0px 0 30px white;

        
    }
}





